body{
    overflow: auto;
   background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
    
}
.header{
    position: relative;
    top: 20px;
}
.head{
    position: absolute;
    top:0;
    left: 120px;
}
header a{
    text-decoration: none;
    font-size: 23px;
    color:rgb(8, 8, 8);

}
.story p{
    margin-left: 25px;
    margin-right: 25px;
}
.content p{
    margin-left: 25px;
    margin-right: 25px;
}
.bars{
    display: none;
}
header a:hover{
    text-decoration: underline;
    color:rgb(75, 165, 239);;
}
a{
    text-decoration: none;
    font-size: 23px;

}
.content:hover{
    background-color: rgb(237, 238, 158);
}
.story:hover{
    background-color: rgb(237, 238, 158);
}
p{
    font-size: 18px;
}

ul{
    list-style: none;
    display: inline-flex;
    position: absolute;
    top: 20px;
    right:0;
}
.m{
    margin-left: 30px;
    margin-right:12px;
    }
.n{
    margin-right:12px;
}
section.about h1{
    font-size: 38px;
    text-align: center;

}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
    margin-left: 40px;
}
.image{
   /*  width:100%; */
    margin-left: 10px;
    margin-top: 50px;
}
.image1{
    width:100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    margin-left: 40px;
    margin-right: 40px;
    height: 350px;

}
.navBar.active{
    display: block;
}
div.story h1{
    text-align: center;
}
footer{
    position: relative;
    height: 110px;
}
.last{
    position: absolute;
    top:0;
    right:24px;
}
footer p{
    font-size: 20px;
}
.footer a{
    margin-right: 12px;
    font-size: 23px;
    text-decoration: underline;
    
    color: black;
}
.footer a:hover{
    text-decoration: none;
    color: black;
} 
.footer a i{
    margin-left: 5px;
}
header{
    background-color: #dfb563;
    position:sticky;
    top:0;
}
footer{
    background-color: #dfb563;
}
@media screen and (max-width: 1200px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 21px;
        left: 120px;
        font-size: 16px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    header a{
        font-size: 21px;
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
        height: 450px;    
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }

}
@media screen and (max-width: 1080px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 29px;
        left: 120px;
        font-size: 11px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    header a{
        font-size: 21px;
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .container{
        height: 480px;
        margin-left: 10px;
        margin-right: 10px;    
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }

}
@media screen and (max-width: 960px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :20px;
    }
    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-left: 20px;
        margin-right: 20px;
        height: 570px;    
    }
    .foot{
        left: 100px; 
        right: 100px;   
    }
}
@media screen and (max-width: 786px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px 300px;
        grid-gap: 1px;
        margin-left: 20px;
        margin-right: 20px;
        height: 900px;    
    }
    #third{
        grid-column: span 2;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 120px;
        margin-left: 40px;
    }
    .image1{
        width:100%;
        height: 360px;
    }
    .content{
        grid-column: span 2;
    }
    .content p{
            font-size: 17px;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
}
@media screen and (max-width: 600px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 600px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    }
    .image1{
        width:390px;
        height: 360px;
    }
    .about{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 120px;
        margin-left: 10px;
    }
    .content{
        grid-column: span 3;
    }
    .content p{
            font-size: 17px;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px 400px 400px;
        height: 1200px;    
    }  
    .story{
        grid-column: span 2;
    }
}
@media screen and (max-width: 400px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 400px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    }
    .image1{
        width:120px;
        height: 260px;
    }
    .about{
        display: grid;
        grid-template-columns:100px;
        margin-bottom: 120px;
        margin-left: 5px;
    }
    .content{
        grid-column: span 2;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 480px 400px 480px;
        height: 1400px;    
    } 

}
@media screen and (max-width: 316px){
    .log{
        width: 50px;
    }
    .head{
        top:0;
        left: 60px;
        font-size: 10px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:12px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 100%;
    }
    footer p{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :12px;
        display: block;
    }
    .foot{
        text-align: center;
        position: relative;
        bottom: 2px;
        left: 0px;
        
    }
    .about{
        grid-template-columns:100px;
        margin-bottom: 120px;
        margin-left: 2px;
    }
    .content{
        grid-column: span 2;
    }
    .container{
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 780px 580px 800px;
        margin-left: 2px;
        margin-right: 2px;
        height: 2200px;    
    }
}
