body{
    overflow: auto;
    background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
    
}
.header{
    position: relative;
    top: 20px;
}
.head{
    position: absolute;
    top:0;
    left: 120px;
}
.nav a{
    text-decoration: none;
    font-size: 23px;
}
.bars{
    display: none;
}
.navBar.active{
    display: block;
}
input{
    background-color:rgb(255, 184, 140)
}
input:hover{
    background-color: white;
}
header a{
    text-decoration: none;
    font-size: 23px;
    color:rgb(8, 8, 8);

}
header a:hover{
    text-decoration: underline;
    color:rgb(75, 165, 239);
}
.nav ul{
    list-style: none;
    display: inline-flex;
    position: absolute;
    top: 20px;
    right:0;
}
.m{
    margin-left: 30px;
    margin-right:12px;
    }
.n{
    margin-right:12px;
}
main h1{
    text-align: center;
    
}
main a{
    font-size:19px;
    text-decoration: none;
    color:#6f3e13;
}
main a:hover{
    color:black;
    text-decoration:underline;
}
fieldset{
    width: 200px;
}
.part{
    margin-left:500px;
    padding: 23px;
    position: relative;
}
.part input{
    position: absolute;
    left:163px;
}
.part button{
    position: absolute;
    left:233px;
}
footer{
    position: relative;
    height: 110px;
}
.last{
    position: absolute;
    top:0;
    margin-bottom: 0;
    right:24px;
}
footer p{
    font-size: 20px;
}
.footer a{
    margin-right: 12px;
    font-size: 23px;
    text-decoration: underline;
    color: black;
} 
.footer a:hover{
    text-decoration: none;      
}
.footer a i{
    margin-left: 5px;
}
main h1{
    text-align: center;
}
.part1 h2{
    margin-left: 20px;
}
header{
    background-color: #dfb563;
    position:sticky;
    top:0;
}
footer{
    background-color: #dfb563;
}
@media screen and (max-width: 1200px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 21px;
        left: 120px;
        font-size: 16px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    header a{
        font-size: 21px;
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .pag p{
        font-size: 12px;
        padding: 12px;        
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }
    .part{
        margin-left:300px;
        padding: 23px;
        position: relative;
    }
    .part input{
        position: absolute;
        left:163px;
    }
}
@media screen and (max-width: 1092px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 29px;
        left: 120px;
        font-size: 11px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    header a{
        font-size: 21px;
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .pag p{
        font-size: 12px;
        padding: 12px;        
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }

}
@media screen and (max-width: 1004px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :20px;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
        margin-left:5px;
    }
    .foot{
        left: 100px; 
        right: 100px;   
    }
}
@media screen and (max-width: 780px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
    .part{
        margin-left:150px;
        padding: 23px;
        position: relative;
    }
    
}
@media screen and (max-width: 600px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 600px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    }
    .part{
        margin-left:30px;
        padding: 23px;
        position: relative;
    }
}
@media screen and (max-width: 400px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 400px;
    }
    footer p{
        font-size: 15px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    } 
    .part{
        margin-left:1px;
        padding: 13px;
        position: relative;
    }
    .part input{
        left:133px;
        width: 142px;
    }
}
@media screen and (max-width: 316px){
    .log{
        width: 50px;
    }
    .head{
        top:0;
        left: 60px;
        font-size: 10px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
        
        
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:12px;  
            
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 100%;      
    }
    footer p{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :12px;
        display: block;
    }
    .foot{
        text-align: center;
        position: relative;
        bottom: 2px;
        left: 0px;  
    }
    .part label{
        font-size: 12px;
        margin-left: 0px;
    }
    .part input{
        position: relative;
        left: 1px;
        margin-top: 5px;    
        font-size: 12px;
    }
    fieldset{
        width: 20px;
    }
    fieldset input{
        position: absolute;
        bottom: -20px;
    }
    main h1{
        font-size: 17px;
    }
    .part a{
        font-size: 15px;
    }
    .part button{
        left:45px;
        bottom: -11px;
    }
}
