body{
    overflow: auto;
    background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
    
}
.log{
    width: 123px;
    }
.header{
    position: relative;
    top: 4px;
}
.head{
    position: absolute;
    top:0;
    left: 120px;
}
.nav a{
    text-decoration: none;
    font-size: 23px;
}
header a{
    text-decoration: none;
    font-size: 23px;
    color:rgb(8, 8, 8);

}
header a:hover{
    text-decoration: underline;
    color:rgb(75, 165, 239);
}
.nav ul{
    float: right;
    list-style: none;
    position: absolute;
    top: 20px;
    right:0;
}
.nav li{
    display: inline-block;
}
.m{
    margin-left: 30px;
    margin-right:12px;
    }
.n{
    margin-right:12px;
}
main h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 400px 320px 320px 400px;
    grid-gap: 23px;
    grid-template-rows: 630px 550px;
}
#two, #four, #five{
    grid-column: span 2;
}
#two img, #four img, #five img{
    width: 100%
}
#one, #two, #three, #four, #five{
    position: relative;   
}
.search{
    position: relative;
}
.search form{
    position: absolute;
    left: 600px;
}
.search form input{
    width: 332px;
    height: 20px;
}

.button{
    position: absolute;
    left: 120px;
    font-size: 20px;
    font-style:inherit;
    border-radius: 34px;
}
#two .button{
    position: absolute;
    left: 270px;
}
#four .button, #five .button{
    position: absolute;
    left: 235px;
}
main{
    position: relative;
}
.bars{
    display: none;
}
.navBar.active{
    display: block;
}
.nav{
    position: absolute;
    top:0;
    right:0;
}
.but{
    position: absolute;
    left:724px;
    font-size: 23px;
    bottom: 4px;
}
#four, #five{
    padding-left: 83px;
    padding-right: 54px;
}
footer{
    position: relative;
    height: 110px;
}
#one{
    margin-left: 24px;
}
#two{
    margin-left: 39px;
    margin-right: 23px;
}
#three img{
    margin-right: 43px;
    width: 100%;
    height: 300px;
}
.last{
    position: absolute;
    top:0;
    margin-bottom: 0;
    right:24px;
}
footer p{
    font-size: 20px;
}
.footer a{
    margin-right: 12px;
    font-size: 23px;
    text-decoration: underline;
    
    color: black;
} 
.footer a:hover{
    text-decoration: none;
       
} 
.footer a i{
    margin-left: 5px;
}
main h1{
    text-align: center;
}
.part1 h2{
    margin-left: 20px;
}
#butn, #rem{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
header{
    background-color: #dfb563;
    position:sticky;
    top:0;
    z-index: 1;
}
footer{
    background-color: #dfb563;
}
@media screen and (max-width: 1200px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 21px;
        left: 120px;
        font-size: 14px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    header a{
        font-size: 21px;
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .pag p{
        font-size: 12px;
        padding: 12px;        
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
        grid-template-rows: 730px 730px 600px;
    }
    #two, #four{
        grid-column: span 1;
    }
    #five{
        grid-column: span 2;
        margin-left: 150px;
        margin-right: 150px;
    }
    #one{
        margin-left: 14px;
        width: 1005;
    }
    .but{
        left:524px;
        font-size: 23px;
        bottom: 4px;
    }
}
@media screen and (max-width: 1090px){   
    .header{
        position: relative;
        top: 20px;
    }
    .head{
        top: 29px;
        left: 120px;
        font-size: 11px;
    }
    .header{
        position: relative;
        top: 50px;
    }
    .nav a{
        font-size: 20px;   
    }
    ul{
        top: 35px;
        right:0;    
    }
    li.m{
        margin-left: 5px;
        margin-right:12px;
        }
    li.n{
        margin-right:9px;
    }
    .pag p{
        font-size: 12px;
        padding: 12px;        
    }
    .foot{
        bottom: 2px;
        left: 370px;       
    }
    footer p{
        font-size: 23px;
        margin-bottom: 12px;
    }
    .last{
        top:12px;
    }
    .search form{
        position: absolute;
        left: 350px;
    }

}
@media screen and (max-width: 960px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :20px;
    }
    .foot{
        left: 100px; 
        right: 100px;   
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 23px;
        grid-template-rows: 860px 860px 710px;
    }
    .search form{
        left: 200px;
    }
    #two .button, #four .button{
        position: absolute;
        left: 120px;
    }
}
@media screen and (max-width: 780px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 160px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
        z-index: 1;
    }
    .navBar ul li{
        display: block;
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{      
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 900px;
    }
    .container{
        grid-template-columns: repeat(2,1fr);   
        grid-gap: 20px;
        gap: 1rem;
        margin: 0 auto;
        box-sizing: border-box;
    }  
    #two, #four, #five{
        grid-column: span 1;
    }
    #one, #three{
        grid-column: span 1;
    }
    #two img, #four img, #five img{
        width: 100%;
    }
    #one, #two, #three, #four, #five{
        position: relative;   
    }
    #two .button{
        position: absolute;
        left: 270px;
    }
    #five{
        grid-column: span 2;
        margin-left: 150px;
        margin-right: 150px;
    }
    #four .button, #five .button{
        position: absolute;
        left: 235px;
    }
    #one{
        margin-left: 4px;
    }
    #two{
        margin-left: 1px;
        margin-right: 1px;
    }
    #four, #five{
        padding-left: 3px;
        padding-right: 4px;
    }
    #three img, #one img{
        width: 100%
    }
    .search form{
        position: absolute;
        left: 100px;
    }
    #four .button, #two .button, #five .button{
        left:73px;
    }
    .but{
        left:300px
    }
}
@media screen and (max-width: 600px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 600px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    }
    .container{
        grid-template-columns: repeat(2,1fr);   
        grid-template-rows: 1000px 800px 900px;
        grid-gap: 20px;
        gap: 1rem;
        margin: 0 auto;
        box-sizing: border-box;
    }  
    #five{
        grid-column: span 1;
        margin-left: 0px;
        margin-right: 0px;
    }
    .search form{
        left: 20px;
    }
    .button{
        left:10px;
    }
    #two .button, #four .button{
        position: absolute;
        left: 40px;
    }
    #five .button{
        left:20px;
    }
    .but{
        left:154px;
        font-size: 23px;
        bottom: 4px;
    }
    .search form input{
        width: 232px;
        height: 20px;
    }
    
}
@media screen and (max-width: 400px){
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:22px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 400px;
    }
    footer p{
        font-size: 17px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :14px;
    }
    .container{
        grid-template-columns: 300px;   
        grid-template-rows: 700px 750px 700px 700px 700px
    }  
    .search form input{
        width: 200px;
        height: 20px;
    }
    #five .button, #two .button, #four .button{
        left:12px;
    }
}
@media screen and (max-width: 316px){
    .log{
        width: 50px;
    }
    .head{
        top:0;
        left: 60px;
        font-size: 10px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px;
        background:black;
        height: 3px;
        margin: 6px 0;
    }
    .navBar{
        display:none;
    }
    .navBar ul{
        display: block;
        width: fit-content;
        margin-top: 140px;
        margin-right: 0;
        text-align: center;
        transition: 0.2s;
    }
    .navBar ul li{
        margin-bottom: 12px;
        font-size:12px;       
    }
    .navBar ul li a{
        font-size: 23px;
    }
    .navBar ul{
        background-color: rgb(255, 244, 127);
        width: 100%;
    }
    footer p{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .last a{
        font-size :12px;
        display: block;
    }
    .foot{
        text-align: center;
        position: relative;
        bottom: 2px;
        left: 0px;
        
    }
    .container{
        grid-template-columns: 200px;   
        grid-template-rows: 750px 800px 750px 750px 750px
    }  
    .search form input{
        width: 100px;
        height: 20px;
    }
    .search{
        margin-bottom: 34px;
    }
    p{
        font-size: 12px;
    }
    .button{
        font-size:16px;
    }
    .but{
        left:84px;
        font-size: 23px;
        bottom: 4px;
    }
}

